@import 'src/styles/variables';

.container {
  height: 3.2rem;
  width: 3.2rem;
  background: $grey-200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  img {
    width: 1rem;
    height: 1rem;
  }

  .pause {
    width: 1.5rem;
    height: 1.5rem;
  }

  .stop {
    width: 2rem;
    height: 2rem;
  }
}

.isPreview {
  background: $orange;
}

.isDisabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}
