@import 'src/styles/variables';

.container {
  height: 14rem;
  border-radius: 0.8rem;
  width: 20rem;
  padding: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: move;
  position: absolute;
  background: rgba(17, 24, 39, 0.1);
  top: 0;
  bottom: 0;

  .marker {
    font-family: $font-family-inter;
    font-size: 1rem;
    color: $orange;
  }
}

.alreadyOnTrack {
  margin: auto;
}
