$white: #FFFFFF;
$cream: #F7F0EE;
$orange: #DE6139;
$grey-50: #F9FAFB;
$grey-100: #F3F4F6;
$grey-200: #E5E7EB;
$grey-800: #1F2937;
$grey-900: #111827;

// TODO move to typography mixins and load font from project for better performance
$font-family-inter: 'Inter', sans-serif;
