@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  background: $cream;
  border-radius: 0.8rem;
  border: 1px solid $orange;
  width: 31.3rem;
  height: 5.6rem;
  padding: 1.2rem 2.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8rem;
  cursor: move;
  position: relative;
  z-index: 2;

  .name {
    @include fontInter(1.4rem);
    color: $grey-800;
    margin-left: 1.2rem;
  }
}
