@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  height: 14rem;
  border-radius: 0.8rem;
  width: 20rem;
  padding: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: move;
  position: absolute;
  background: #44837D;

  &:hover {
    .removeButton {
      visibility: visible;
    }
  }

  .name {
    @include fontInter(1.2rem);
    color: $white;
  }

  .removeButton {
    visibility: hidden;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    z-index: 100;
    width: 1.5rem;
    height: 1.5rem;

    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
