@import 'src/styles/variables';
@import 'src/styles/mixins';

.arranger {
  position: relative;
  height: 100%;

  .droppableArea {
    flex: 1;
    height: 100%;
  }

  .verticalLine {
    position: absolute;
    height: 100%;
    width: 1px;
    background: $grey;
    top: 0;
  }

  .sample {
    height: 100%;
  }
}
