@import 'src/styles/variables';
@import 'src/styles/mixins';

.arranger {
  flex: 1;
  position: relative;

  .droppableArea {
    flex: 1;
    height: 100%;
  }

  .verticalLine {
    position: absolute;
    height: 100%;
    width: 1px;
    background: $grey;
    top: 0;
  }

  .placeholder {
    color: #888888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    @include fontInter(1.4rem)
  }

  .sample {
    height: 100%;
  }
}
