@import "../../../styles/variables";

.container {
  display: flex;
  flex-flow: column;
  padding: 2.4rem 1.2rem;
  width: 100%;
  max-height: 50vh;

  .tracks {
    overflow-y: auto;
    flex: 1;
    margin-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: -2rem;
    padding-left: 2rem;
  }

  .addTrackButton {
    background: $white;
    width: 8rem;
    min-height: 3rem;
  }
}
