@import 'src/styles/variables';

.container {
  height: 14rem;
  width: 100%;
  background: $grey-100;
  display: flex;

  .options {
    width: 14rem;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arranger {
    flex: 1;
    background: red;
  }
}
